# .gitignore
src/__pycache__/
*.pyc
*.ipynb_checkpoints
venv/
.env

# IDE
.idea
.vscode
.venv

# Data
/data/
/plots/
/logs/
/models/
/scalers/
/predictions/
/ssh_*.json
/src/lstm_price_prediction.egg-info/
/dist/
/build/
